<!DOCTYPE html>
<html>
  <head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

 <style>

 </style>

  </head>

<body style="background-color: floralwhite">
<div class="page-header">
    <nav class="navbar navbar-default navbar-fixed-top"  style="background-color: dodgerblue">
      <h1 style="color: snow"><a href="{% url 'photos:index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  </a>Login   <span style="color: snow; font-size:small"><a style="color: snow" href="{% url 'registration:registration_view' %}">Are you a new user?</a></span></h1>
    </nav>
</div>

<section>
    <div class="panel panel-default">
        <div class="panel-body">
            {% load staticfiles %}
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {% if form.errors %}
                <p>Your username and password didn't match, please try again.</p>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <p>
                        {{ form.username.label_tag }} {{ form.username }}
                    </p>
                    <p>
                        {{ form.password.label_tag }} {{ form.password }}
                    </p>
                    {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" /> {% else %}
                    <input type="hidden" name="next" value="/portal/" /> {% endif %}
                    <input type="submit" value="login" />
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>



</body>

  <script>

  </script>

</html>


