<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <style>
    </style>

</head>

<body style="background-color: floralwhite">
    <div class="page-header">
        <nav class="navbar navbar-default navbar-fixed-top" style="background-color: dodgerblue">
            <h1 style="color: snow">All photos </h1>
        </nav>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-2"></div>
            <div class="col-md-10">
            {% for item in list %}
                <img src="{{ item.image.url }} " width="300" height="200">
                <p>{{ item.city }}</p>
                <p>{{ item.description }}</p>
            {% endfor %}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>

<script>
</script>

</html>