{% extends 'base.html' %}
{% block title %} Success {% endblock %}
{% block head %}
    <script>
    function redirect(){
       window.location.href = "/login";
    }

    setTimeout(redirect, 4000); //4000 is equivalent to 4 seconds
    </script>
{% endblock %}
{% block body %}
  <div>
    <p style='color:#092E20;font-size:25px;font-weight:bold;padding-top:20px;padding-left:15px;'>
         You have been successfully registered......
    </p>
    <p>Redirecting to login page.....</p>
  </div>
{% endblock %}
